.h1 {
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
    color: #f8f8f8;
}

.h2 {
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1e2c35;
}

.h1azul {
    color: #384d5f;
}

.h1blanco {
    color: #f8f8f8;
}

.h2azul {
    color: #384d5f;
}

.h2blanco {
    color: #f8f8f8;
}

.h3azul {
    color: #384d5f;
}

.titulomedio {
    font-size: 175%;
}

.titulogrande {
    font-size: 250%;
}

.pblanco {
    color: #f8f8f8;
}

.pazul {
    color: #384d5f;
} 

.sinsubrayar {
    text-decoration: none;
}